<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asteroid_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{595,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{595,492}}</string>
				<key>sourceSize</key>
				<string>{600,500}</string>
			</dict>

			<key>asteroid_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{514,425}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{514,425}}</string>
				<key>sourceSize</key>
				<string>{520,430}</string>
			</dict>

			<key>asteroid_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,493},{487,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{487,354}}</string>
				<key>sourceSize</key>
				<string>{500,360}</string>
			</dict>

			<key>asteroid_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,919},{342,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,6},{342,287}}</string>
				<key>sourceSize</key>
				<string>{350,300}</string>
			</dict>

			<key>asteroid_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,919},{442,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{442,184}}</string>
				<key>sourceSize</key>
				<string>{450,200}</string>
			</dict>

			<key>asteroid_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{311,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{311,233}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>asteroid_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,234},{275,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,5},{275,241}}</string>
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>

			<key>asteroid_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,0},{218,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,7},{218,223}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>asteroid_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,234},{241,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{241,221}}</string>
				<key>sourceSize</key>
				<string>{250,230}</string>
			</dict>

			<key>asteroid_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,848},{247,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,10},{247,223}}</string>
				<key>sourceSize</key>
				<string>{260,240}</string>
			</dict>

			<key>asteroid_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1072},{231,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{231,141}}</string>
				<key>sourceSize</key>
				<string>{240,150}</string>
			</dict>

			<key>asteroid_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,612},{162,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{162,173}}</string>
				<key>sourceSize</key>
				<string>{170,180}</string>
			</dict>

			<key>asteroid_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,456},{179,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{179,155}}</string>
				<key>sourceSize</key>
				<string>{190,160}</string>
			</dict>

			<key>asteroid_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1104},{104,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{104,98}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>asteroid_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1104},{59,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{59,91}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1183,1214}</string>
			<key>textureFileName</key>
			<string>asteroid.png</string>
			</dict>
		</dict>
</plist>