<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CX16-X1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,382},{148,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{148,149}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>CX16-X2.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{148,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{148,142}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>CX16-X3.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,382},{148,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{148,149}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>DKO-api-X1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,371},{151,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{151,156}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>DKO-api-X2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{151,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{151,145}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>DKO-api-X3.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,225},{151,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{151,156}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>WO84-wu-X1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,159},{131,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{131,158}}</string>
				<key>sourceSize</key>
				<string>{140,160}</string>
			</dict>

			<key>WO84-wu-X2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,143},{131,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{131,158}}</string>
				<key>sourceSize</key>
				<string>{140,160}</string>
			</dict>

			<key>WO84-wu-X3.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{131,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{131,158}}</string>
				<key>sourceSize</key>
				<string>{140,160}</string>
			</dict>

			<key>enemy_mothership.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{223,224}}</string>
				<key>sourceSize</key>
				<string>{230,230}</string>
			</dict>

			<key>enemy_unit.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,318},{110,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{110,111}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>

			<key>spaceship_flame.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,318},{98,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{98,46}}</string>
				<key>sourceSize</key>
				<string>{105,51}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{568,532}</string>
			<key>textureFileName</key>
			<string>spaceships.png</string>
			</dict>
		</dict>
</plist>