<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bullet_blaster_big_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,66},{26,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,77}}</string>
				<key>sourceSize</key>
				<string>{26,77}</string>
			</dict>

			<key>bullet_blaster_small_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{16,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,48}}</string>
				<key>sourceSize</key>
				<string>{16,48}</string>
			</dict>

			<key>bullet_long_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{7,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,107}}</string>
				<key>sourceSize</key>
				<string>{7,107}</string>
			</dict>

			<key>bullet_short_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{6,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,46}}</string>
				<key>sourceSize</key>
				<string>{6,46}</string>
			</dict>

			<key>cluster_bomb_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,66},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,34}}</string>
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>

			<key>cluster_bomb_single_cluster.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,144},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>

			<key>ray_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,45}}</string>
				<key>sourceSize</key>
				<string>{70,45}</string>
			</dict>

			<key>ray_tiled.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{70,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,124}}</string>
				<key>sourceSize</key>
				<string>{70,124}</string>
			</dict>

			<key>rocket_bx_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{37,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>

			<key>rocket_dsx_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,101},{34,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,64}}</string>
				<key>sourceSize</key>
				<string>{34,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{142,171}</string>
			<key>textureFileName</key>
			<string>weapons.png</string>
			</dict>
		</dict>
</plist>